# Dependabot runs daily at 05:00 (Europe/Berlin)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "05:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 15
    assignees:
      - "copystring"
    versioning-strategy: "increase"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "05:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 15
    assignees:
      - "copystring"
