name: Generate docs

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install dependencies
      run: npm install

    - name: Translate JS files
      run: node translate_js_files.js

    - name: Install jsdoc2md
      run: npm install -g jsdoc-to-markdown

    - name: Generate documentation
      run: |
        for gen in $(cat ./genDirs.txt); do
          for lang in $(cat ./languages.txt); do
            for jsFile in $(ls ./lib/genSpecs/$gen/*.js); do
              fileName=$(basename -- $jsFile)
              baseName="${fileName%.*}"
              outputPath="./docs/$lang/$gen/${baseName}.md"
              mkdir -p $(dirname $outputPath)
              jsdoc2md --template ./lib/genSpecs/$gen/${baseName}.hbs ./tempTranslated/$gen/${baseName}_${lang}.js > $outputPath
            done
          done
        done

    - name: Cleanup
      run: rm -r tempTranslated genDirs.txt languages.txt

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: 'Update JSDoc documentation'
        title: 'Update JSDoc documentation'
        body: 'This PR updates the documentation.'
        branch: 'update-docs'
